{% extends 'moto_forum/base.html' %}

{% block content %}
<h1>{{title}}</h1>
<p>Добро пожаловать на наш <a href="{% url 'home' %}"> Форум</a> о японской мототехнике!</p>
<p>После прохождения <a href="{% url 'auth_app:register' %}"> регистрации</a> Вы можете добавить свой байк</a> и рассказать о нем!
Так же Вы можете посетить <a href="{% url 'shop_app:shop' %}"> наш магазин</a>, в котором вы можете приобрести мотоэкипировку!
Если возникли трудности с добавлением статьи на Форуме или в нашем магазине нет нужного Вам товара,
    напишите нам с помощью формы Обратной связи!</a></p>
<p>Так же вы можете написать <a class="share-yt" href="https://vk.com/korotkov915" target="_blank" rel="nofollow">автору Сайта</a></p>

{% endblock %}
